.w4s-overlay-root {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.w4s-overlay-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.w4s-strava-btn {
  pointer-events: auto;
}
